.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s both;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #00b85c;
    }
}

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i * 0.05}s;
    }
}