@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.page {
    width: calc(100% - 96px);
    min-height: 100vh;
    margin-left: 96px;
    position: relative;
}

.top-tags { 
    bottom: auto;
    top: 35px;
}

.tags {
    opacity: 0.6;
    position: absolute;
    color: #00b85c;
    bottom: 0;
    left: 140px;
    font-size: 18px;
    font-family: "La Belle Aurore";
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    min-height: 100vh;
    min-width: 0;
    position: relative;
    opacity: 0;
    top: 0;
    margin: 0;
    z-index: 1;
    transform-style: flat;
    animation: fadeIn 1s 1s forwards;
    overflow: visible;
}

.about-page,
.contact-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
    h1 {
        color: #fff;
        font-size: 72px;
        margin-top: 0;
        font-family: "ByteBounce";
        font-weight: 400;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }
    p {
        color: #fff;
        font-size: 18px;
        line-height: 1.5;
        font-family: "HackbotFreeTrial";
        font-weight: 400;
        min-width: fit-content;
        opacity: 0;
        animation: fadeIn 1s forwards;

        &:nth-of-type(1) { animation-delay: 1.1s; }
        &:nth-of-type(2) { animation-delay: 1.3s; }
        &:nth-of-type(3) { animation-delay: 1.5s; }
    }
}

@media screen and (max-width: 1200px) {
    .about-page,
    .contact-page {
        .text-zone {
            position: relative;
            left: auto;
            top: auto;
            transform: none;
            width: 100%;
            max-height: none;
            display: block;
        }
    }
}

.text-animate-hover {
    display: inline-block;
    animation: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #00b85c;
        transform: translateY(-5px);
    }
}

.loader-active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    animation: fadeOut 1s 1s forwards;
}

@media screen and (max-width: 992px) {
    .page {
        width: calc(100% - 78px);
        margin-left: 78px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        width: 100%;
        margin-left: 0;
        padding-bottom: 86px;
    }

    .container {
        min-height: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
